.button {
  background: none;
  color: #666;
  border: 1px solid #505763;
  border-radius: 2px;
  margin-right: 8px;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;



  &:hover {
    background: #f2f3f5;
  }

  &:disabled {
    opacity: 0.5;
  }


  &--search {
    border-radius: 0;
    border-left: 0;
  }
}

.button--register {
  background: #2899ab;
  border: 1px solid #2899ab;
  border-radius: 2px;
  color: white;
  &:hover {
    background: #218392;
  }

  &:active {
    background: #176b77;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button--white:hover {
  box-shadow: rgba(0,0,0,0.15) 0 7px 20px;
  color: #fff;
  text-decoration: none;
  background: rgba(255,255,255,0.15);
}


.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #666;
    padding: 1rem;
    background-color: inherit;
    font-family: inherit;
    margin-right: 5px;

    img {
      border-radius: 50%;
      max-width: 25px;
      margin-right: 5px;
      vertical-align: middle;
    }
}

.fa-shopping-cart {
  vertical-align: middle;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
