.header {
  background: #ffffff;
  box-shadow: rgba(58,78,95,0.2) 0 1px 16px, rgba(58,78,95,0.05) 0 -5px 16px;
  margin-bottom: 0;
  color: #666;
  font-weight: 600;
}

.fa-search {
  height: 40px;
  padding: 11px 19px;
  border: 1px solid #e0e0e0;
  border-left: none;
  outline: 0;
}



.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.header-content-left {
  display: flex;
  align-items: center;
  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.header-content-right {
  display: flex;
}

.header-cart {
  align-items: center;
  display: flex;
  color: #666;
  text-decoration: none;
  margin-right: 5px;
  a {
    color: #666;

  }
}

.header-brand {
  color: #645a53;
  font-size: 2.8rem;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  text-align: center;

  span {
    color: #2899ab;

  }
  a {
    text-decoration: none;
    color: #645a53;
  }
}

.header-goback {
  margin-left: 10px;
  a {
    text-decoration: none;
    color: #645a53;
  }
}

.header-goback span::after {
	content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.header-goback span:hover::after {
	width: 100%;
}

.header-search {
  input {
    height: 40px;
    padding: 10px 19px;
    padding-right: 35px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #656565;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 35rem;
    background-image: url('/images/search-icon.png');
    background-size: 15px 15px;
    background-position: 320px center;
    background-repeat: no-repeat;


    &::placeholder {
      font-style: italic;
      opacity: 0.5;
    }
    &:hover,
     &:focus {
       box-shadow: 0px 3px 19px -6px rgba(0,0,0,0.67);
     }
     &:focus {
       outline: 0;
     }
  }
}

.auth {
  display: flex;
  font-weight: 600;
}
